<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="/fragments/resources-header" />
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="#" class="h1"><b>Mitocode</b> Web</a>
			</div>
			<div class="card-body">
				<p class="login-box-msg" th:text="#{resetpwd.message}"></p>
				<form th:action="@{/resetpassword}" method="post"
					th:object="${resetPasswordForm}">

					<div th:if="${usernotfound}"
						th:text="#{resetpwd.exceptions.usernotfound}"
						class="alert alert-danger"></div>
					<div th:if="${resetpwdsuccess}"
						th:utext="#{resetpwd.forms.success}" class="alert alert-success"></div>

					<div class="input-group mb-3">
						<input type="email" class="form-control" placeholder="Email"
							th:field="*{email}"
							th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
							required="required">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
						<span class="error invalid-feedback"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
					</div>

					<div class="row">
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-block"
								th:text="#{resetpwd.forms.buttontext}"></button>
						</div>
						<!-- /.col -->
					</div>
				</form>
				<p class="mt-3 mb-1">
					<a th:href="@{/login}">Login</a>
				</p>
			</div>
			<!-- /.login-card-body -->
		</div>
	</div>
	<!-- /.login-box -->

	<th:block th:insert="/fragments/resources-footer" />

</body>
</html>
